<div class="span3 sidebar">
		<div class="row">
			<div class="span4 side-nav sign-up">
					<h1>Sign Up </h1>
					<%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
			</div>
		</div>
</div>