
<!-- Main Area -->
<div class="main-area">
	<div class="container visitor-home-page">
		<div class="row">
			<div class="span8">
				
				<div class="post">
					<div id="myCarousel" class="carousel slide">
					  <!-- Carousel items -->
					  <div class="carousel-inner">
					    <div class="active item">
					    <img src="assets/slide_01.png" alt="Join  us and share your climbing stories or just spray on sloppy plopping." />
					    </div>
					  </div>
					  <!-- Carousel nav -->
					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>				
			</div>
			<div class="span3 sidebar">
					<div class="row">
						<div class="span3  sign-up">
						<%= link_to "Create an account!", signup_path, :class => "btn btn-large btn-primary" %>
						</div>
					</div>
			</div>
		</div>
	</div>
<!-- End Main Area -->
</div>