
<!-- Main Area -->
<div class="main-area">
	<div class="container visitor-home-page">
		<div class="row">
			<div class="span8">
				
				<div class="post">
					<div id="myCarousel" class="carousel slide">
					  <!-- Carousel items -->
					  <div class="carousel-inner">
					    <div class="active item">
					    	<a href="post.html">
					    		<img src="assets/slide_01.jpg" alt="Placeholder" />
					    		<span class="strapline">Post Title Goes Here<br /><span>A short description of what the post is about.</span></span>
					    	</a>
					    </div>
					  </div>
					  <!-- Carousel nav -->
					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>				
			</div>
			<div class="span3 sidebar">
					<div class="row">
						<div class="span4 side-nav offset1 sign-up">
								<h1>Sign Up </h1>
								<%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
						</div>
					</div>
			</div>
		</div>
	</div>
<!-- End Main Area -->
</div>