<h1> About Page</h1>

<!-- Main Area -->
<div class="main-area">
	<div class="container">
		<div class="row">
			<div class="span8">

				<h1>About Us <small>Some information about who we are </small></h1>

				<div class="row">

					<div class="span8">

						<div class="page">


						</div>

					</div>

				</div>

			</div>

		</div>
	</div>
<!-- End Main Area -->
</div>