<% provide(:title, "Help") %>


<!-- Main Area -->
<div class="main-area">
	<div class="container">
		<div class="row">
			<%= render 'shared/page_header' %>
			<h1>Help</br><small></small></h1>
			<h1>About Us <small>Some information about who we are </small></h1>
			</div>
	  		
	</div>
	<!-- End Main Area -->
</div>

