
  <h1> Contact Page</h1>
	<!-- Main Area -->
	<div class="main-area">
		<div class="container">
			<div class="row">
				<div class="span8">

					<h1>Contact Us <small>Use the form below to contact us</small></h1>

					<div class="row">

						<div class="span8">

							<div class="page">

								<div id="map_canvas"></div>

								<form class="form-horizontal contact-form">
						        <fieldset>
						          <div class="control-group">
						            <label class="control-label" for="input01">Name</label>
						            <div class="controls">
						              <input type="text" class="input-xxlarge" id="input01">
						            </div>
						          </div>
						          <div class="control-group">
						            <label class="control-label" for="input02">Email Address</label>
						            <div class="controls">
						              <input type="text" class="input-xxlarge" id="input02">
						            </div>
						          </div>
						          <div class="control-group">
						            <label class="control-label" for="select01">Where did you hear about us?</label>
						            <div class="controls">
						              <select id="select01" class="input-xxlarge">
						                <option>something</option>
						                <option>2</option>
						                <option>3</option>
						                <option>4</option>
						                <option>5</option>
						              </select>
						            </div>
						          </div>
						          <div class="control-group">
						            <label class="control-label" for="textarea">Your Message</label>
						            <div class="controls">
						              <textarea class="input-xxlarge" id="textarea" rows="8"></textarea>
						            </div>
						          </div>
						          <div class="form-actions">
						            <button type="submit" class="btn btn-primary">Send Message</button>
						          </div>
						        </fieldset>
						      </form>

							</div>

						</div>

					</div>

				</div>

			</div>
		</div>
	<!-- End Main Area -->
	</div>