<% provide(:title, "Help") %>


<!-- Main Area -->
<div class="main-area">
	<div class="container">
		<div class="row">
			<%= render 'shared/page_header' %>
			<h1>Help</br><small></small></h1>
<h1>Contact Us <small>Use the form below to contact us</small></h1>
			</div>
	  		
	</div>
	<!-- End Main Area -->
</div>

